.App {
  font-family: sans-serif;
  text-align: center;
}

.contribution-graph {
  padding: .125em .5em .125em 0;
  font-size: 12px;
  font-weight: 400;
  color: #959494;
  text-align: left;
  fill: black;  
}